.editor {
  margin: 8rem 0;

  &__content{
    max-width: 108.8rem;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    span {
      color: $col-red-prim;
    }
  }

  h1, h2, h3, h4 {
    margin: 0 0 6.4rem 0;
  }

  h4, h5, h6 {
    margin: 0 0 2.4rem 0;
  }

  p {
    margin: 1.6rem 0;
  }

  a {
    color: $col-red-prim;
    text-decoration: underline;
  }
}