.supply {
  margin: 14.4rem 0 13.4rem;

  &.version {
    .supply {
      &__content {
        &_text {
          margin: 11rem 0 0 -10.8rem;

          p {
            margin: 8.2rem 0 0 19rem;
          }

          a {
            margin: 5rem 0 0 19rem;
          }
        }

        &_img {
          min-height: 69.6rem;

          img {
            left: -18rem;
            height: 63.2rem;
          }

          .circle {
            left: -1rem;
            bottom: -11rem;
            width: 62.2rem;
            height: 62.2rem;
          }
        }
      }
    }
  }

  &.mirror {
    .supply {
      &__content {
        &_img {
          order: 2;
          min-height: 38.4rem;

          .circle {
            left: 50%;
            bottom: -13rem;
            transform: translateX(-50%);
            width: 47.4rem;
            height: 47.4rem;
          }

          img {
            height: 38.4rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &_text {
          order: 1;
          margin: 12.5rem 0 0 0;

          a, p {
            margin: 3.2rem 0 0 0;
          }

          p {
            max-width: 48.5rem;
          }
        }
      }
    }
  }

  &.boy {
    .supply {
      &__content {
        &_img {
          img {
            height: 62.2rem;
          }

          .circle {
            width: 55rem;
            height: 55rem;
            left: -4rem;
            bottom: -14rem;
          }
        }
      }
    }
  }

  &.nature {
    .supply {
      &__content {
        &_img {
          flex: 0 1 48%;
          min-height: 57.6rem;

          img {
            left: 50%;
            bottom: -6rem;
            transform: translateX(-50%);
          }

          .circle {
            left: -16rem;
          }
        }

        &_text {
          flex: 0 1 52%;
          margin: 7rem 0 0 -7rem;

          p {
            max-width: 44.8rem;
          }
        }
      }
    }
  }

  &.green-truck {
    .supply {
      &__content {
        &_img {
          img {
            width: 100%;
            height: initial;
            transform: translateX(-50%) translateY(5rem);
          }

          .circle {
            bottom: 7rem;
          }
        }
      }
    }
  }

  &__content {
    display: flex;

    &_img {
      position: relative;
      flex: 0 1 51%;
      background-color: $col-grey-400;
      border-radius: 32px;
      overflow: hidden;
      min-height: 51.2rem;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        height: 51.2rem;
      }

      .circle {
        position: absolute;
        left: -16rem;
        bottom: -16rem;
        width: 45.4rem;
        height: 45.4rem;
        border-radius: 50%;
        background-color: $col-white;
      }
    }

    &_text {
      position: relative;
      z-index: 2;
      flex: 0 1 49%;
      margin: 6.5rem 0 0 -10.8rem;

      h2 {
        position: relative;

        span {
          color: $col-red-prim;
        }
      }

      ul, a {
        margin: 7.2rem 0 0 19rem;
      }

      blockquote {
        margin: 2.4rem 0 0 19rem;
        border-radius: 8px;
        border: 1px solid $col-grey-200;
        padding: 1.6rem;
        display: block;
        font-style: initial;

        p {
          font-size: 1.8rem;
          line-height: 111%;
          margin: 0;

          &:first-of-type {
            margin: 0;
          }

          &:last-of-type {
            margin: 0.8rem 0 0;
          }

          span {
            font-weight: 700;
          }
        }
      }

      p {
        margin: 2.4rem 0 0 19rem;
        max-width: 41.6rem;
        font-size: 2rem;
        line-height: 150%;

        &:first-of-type {
          margin: 7.2rem 0 0 19rem;
        }

        span {
          color: $col-red-prim;
        }

        strong {
          font-size: 2.4rem;
          line-height: 111%;
        }
      }

      ul {
        max-width: 41.6rem;

        li {
          display: flex;
          align-items: center;
          margin: 0 0 1.6rem 0;
          font-size: 2rem;
          line-height: 150%;

          &:last-child {
            margin: 0;
          }

          img {
            height: 3.2rem;
            margin: 0 1.6rem 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: $mob) {
  .supply {
    margin: 6rem 0;

    &.version {
      .supply {
        margin: 8rem 0;

        &__content {
          &_text {
            margin: 0 0 4.8rem 0;

            p {
              font-size: 1.6rem;
              margin: 2.4rem 0 0 0;
            }

            a {
              margin: 3.2rem 0 0 0;
            }
          }

          &_img {
            min-height: 32.3rem;

            img {
              left: -9rem;
              height: 30rem;
            }
          }

          .circle {
            width: 28.8rem;
            height: 28.8rem;
            left: 0;
            bottom: -5rem;
          }
        }
      }
    }

    &.mirror {
      .supply {
        &__content {
          &_img {
            min-height: 20.2rem;

            img {
              width: 31.2rem;
              height: 20.2rem;
              left: 50%;
            }

            .circle {
              width: 24.9rem;
              height: 24.9rem;
              left: 50%;
              bottom: -7rem;
            }
          }
        }
      }
    }

    &.nature {
      .supply {
        &__content {
          &_img {
            min-height: 29.7rem;

            img {
              bottom: -3rem;
              left: 50%;
            }

            .circle {
              left: -5rem;
              bottom: -2rem;
            }
          }

          &_text {
            br {
              display: none;
            }
          }
        }
      }
    }

    &.boy {
      .supply {
        &__content {
          &_img {
            .circle {
              width: 25rem;
              height: 25rem;
              left: -3.5rem;
              bottom: -7rem;
            }

            img {
              height: 26rem;
            }
          }
        }
      }
    }

    &.green-truck {
      .supply {
        &__content {
          &_img {
            img {
              width: 100%;
              height: 30rem;
            }
          }
        }
      }
    }

    &__content {
      flex-direction: column;

      &_text {
        order: 1;
        margin: 0 0 4.8rem 0;

        ul, a {
          margin: 2.4rem 0 0 0;
        }

        ul {

          li {
            font-size: 1.6rem;
            margin: 0 0 0.8rem 0;

            img {
              height: 2.4rem;
            }
          }
        }

        .button {
          width: 100%;

          span {
            width: 100%;
          }
        }

        blockquote {
          margin: 1.6rem 0;

          p {
            font-size: 1.4rem;
          }
        }

        p {
          &:first-of-type {
            margin: 2.4rem 0 0 0;
          }

          margin: 2.4rem 0 0 0;

          strong {
            font-size: 2rem;
          }
        }
      }

      &_img {
        border-radius: 16px;
        min-height: 23.7rem;
        order: 2;

        img {
          height: 26rem;
        }

        .circle {
          left: -8rem;
          bottom: -8rem;
          width: 21rem;
          height: 21rem;
        }
      }
    }
  }
}