.supply {
  margin: 14.4rem 0;

  &__content {
    display: flex;

    &_img {
      position: relative;
      flex: 0 1 51%;
      background-color: $col-grey-400;
      border-radius: 32px;
      overflow: hidden;
      min-height: 51.2rem;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        height: 51.2rem;
      }

      .circle {
        position: absolute;
        left: -16rem;
        bottom: -16rem;
        width: 45.4rem;
        height: 45.4rem;
        border-radius: 50%;
        background-color: $col-white;
      }
    }

    &_text {
      position: relative;
      z-index: 2;
      flex: 0 1 49%;
      margin: 6.5rem 0 0 -10.8rem;

      h2 {
        position: relative;

        span {
          color: $col-red-prim;
        }
      }

      ul {
        margin: 7.2rem 0 0 19rem;

        li {
          display: flex;
          align-items: center;
          margin: 0 0 1.6rem 0;
          font-size: 2rem;
          line-height: 150%;

          &:last-child {
            margin: 0;
          }

          img {
            height: 3.2rem;
            margin: 0 1.6rem 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: $mob) {
  .supply {
    margin: 6rem 0;

    &__content {
      flex-direction: column;

      &_text {
        order: 1;
        margin: 0 0 4.8rem 0;

        ul {
          margin: 2.4rem 0 0 0;

          li {
            font-size: 1.6rem;
            margin: 0 0 0.8rem 0;

            img {
              height: 2.4rem;
            }
          }
        }
      }

      &_img {
        border-radius: 16px;
        min-height: 237px;
        order: 2;

        img {
          height: 26rem;
        }

        .circle {
          left: -8rem;
          bottom: -8rem;
          width: 21rem;
          height: 21rem;
        }
      }
    }
  }
}