* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "NotoSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "NotoSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-size: 5.6rem;
  line-height: 110%;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
  line-height: 120%;
  font-weight: 600;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 111%;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 133%;
}

h6 {
  font-size: 1.8rem;
  line-height: 111%;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

p small {
  font-size: 1.4rem;
}

p strong {
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-SemiBold.woff") format("woff"), url("../fonts/NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 0.6944444444vw;
}

body {
  overflow: hidden;
  background: url("../img/bg.svg") no-repeat top 58.5rem right 0;
}

body.js-loaded {
  overflow: initial;
}

body.js-loaded .page-preloader {
  opacity: 0;
  pointer-events: none;
}

.root {
  padding: 0 0 15rem 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container._large {
  padding: 0 6.4rem;
}

.card {
  padding: 4.8rem;
  border-radius: 32px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
}

.card__text {
  position: relative;
  padding: 4rem 0 0 0;
  margin: 0 0 3.2rem 0;
}

.card__text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.7rem;
  height: 1.6rem;
  background-image: url("../img/testimonials/commas.svg");
  background-size: 2.7rem 1.6rem;
  background-repeat: no-repeat;
  background-position: center;
}

.card__text p {
  font-size: 2.4rem;
  line-height: 111%;
  font-weight: 700;
}

.card__person {
  display: flex;
  align-items: center;
}

.card__person_img {
  flex: 0 0 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  margin: 0 1.6rem 0 0;
  overflow: hidden;
}

.card__person_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__person_description p strong {
  font-size: 1.8rem;
  line-height: 111%;
}

.card__person_description p small {
  font-size: 1.6rem;
  line-height: 150%;
  color: #E30517;
}

.grey-bg {
  overflow: hidden;
  position: relative;
  margin: 13.4rem 0 15.4rem;
}

.grey-bg:before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 3rem;
  width: 137.6rem;
  height: 97rem;
  background-image: url("../img/supply/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.grey-bg__content {
  padding: 14.4rem 0;
  border-radius: 32px;
  background-color: #F3F3F3;
}

.grey-bg section {
  margin: 0 0 14.4rem 0;
}

.grey-bg section:last-child {
  margin: 0;
}

.grey-bg .supply__content_img {
  background-color: #FFFFFF;
}

.grey-bg .supply__content .circle {
  background-color: #F9F9F9;
}

.header {
  position: absolute;
  z-index: 10;
  top: 2.4rem;
  left: 0;
  width: 100%;
}

.header.active .header__content_nav {
  top: 0;
}

.header.active .header__content_cross span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

.header.active .header__content_cross span:nth-child(2) {
  left: -10px;
  opacity: 0;
}

.header.active .header__content_cross span:nth-child(3) {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(-45deg);
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.8rem 4rem;
}

.header__content_logo {
  position: relative;
  z-index: 2;
  height: 3.2rem;
  width: auto;
}

.header__content_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_nav {
  display: flex;
  align-items: center;
}

.header__content_nav ul {
  display: flex;
  align-items: center;
}

.header__content_nav ul li {
  margin: 0 5.6rem 0 0;
}

.header__content_nav ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.header__content_cross {
  position: relative;
  z-index: 2;
  padding: 0.8rem 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

.header__content_cross span {
  position: absolute;
  width: 2.4rem;
  height: 0.2rem;
  background-color: #0A0A0A;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  transition: 500ms;
}

.header__content_cross span:first-child {
  top: 0.8rem;
}

.header__content_cross span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.header__content_cross span:last-child {
  top: initial;
  bottom: 0.8rem;
}

.footer {
  padding: 3.2rem 0;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content_logo {
  height: 3.2rem;
  padding: 0 9rem 0 0;
}

.footer__content_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__content > p {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
}

.footer__content ul {
  display: flex;
  align-items: center;
}

.footer__content ul li {
  margin: 0 5.4rem 0 0;
}

.footer__content ul li:last-child {
  margin: 0;
}

.footer__content ul li a {
  font-size: 1.6rem;
  height: 150%;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
  line-height: 140%;
  font-weight: 700;
  border-radius: 20px;
  flex-shrink: 0;
  transition: 200ms;
}

.button span {
  position: relative;
  border: 1px solid #0A0A0A;
  padding: 1.3rem 2.3rem;
  border-radius: 20px;
}

.button:before {
  content: "";
  position: absolute;
  bottom: calc(-100% - 4px);
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  transition: 200ms cubic-bezier(0.7, 0, 0.2, 1);
  border-radius: 19px;
}

.button-large span {
  padding: 1.3rem 4.8rem;
}

.button._light {
  color: #0A0A0A;
}

.button._light:before {
  background-color: #0A0A0A;
}

.button._black {
  color: #FFFFFF;
}

.button._black:before {
  background-color: #0A0A0A;
  bottom: -1px;
}

.page-preloader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.page-preloader__content {
  display: flex;
}

.page-preloader__content_logo {
  opacity: 0;
  width: 3.8rem;
  height: 4rem;
  animation: show-logo 2500ms 500ms cubic-bezier(0.18, 0.88, 0.56, 1.11) infinite;
}

@keyframes show-logo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.page-preloader__content_logo svg {
  width: 3.8rem;
  height: 4rem;
}

.page-preloader__content_text {
  overflow: hidden;
  padding: 0.2rem 0 0 0.2rem;
  width: 0;
  height: 3.2rem;
  animation: show-text 2500ms 500ms cubic-bezier(0.18, 0.88, 0.56, 1.11) infinite;
}

@keyframes show-text {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  70% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
  }
}

.page-preloader__content_text svg {
  width: 10.7rem;
  height: 3.2rem;
}

.hero {
  min-height: 7.04rem;
  margin: 3.2rem 0 15rem 0;
}

.hero.center {
  margin: 3.2rem 0 8rem;
}

.hero.center .hero__content {
  padding: 10.2rem 8rem 7.9rem;
}

.hero.center .hero__content_description {
  max-width: initial;
  text-align: center;
}

.hero.center .hero__content_description p {
  font-size: 2rem;
  line-height: 150%;
}

.hero.center .hero__content_description p strong {
  font-size: 26rem;
  line-height: 110%;
}

.hero__content {
  position: relative;
  overflow: hidden;
  padding: 19.2rem 8rem 15.9rem;
  background-color: #F3F3F3;
  border-radius: 32px;
}

.hero__content:before {
  content: "";
  position: absolute;
  width: 115.6rem;
  height: 150rem;
  top: -5rem;
  right: -13rem;
  background-image: url("../img/hero/white-bg-hero.svg");
  background-size: 115.6rem 150rem;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__content_description {
  position: relative;
  z-index: 2;
  max-width: 59.4rem;
}

.hero__content_description p {
  margin: 0 0 1.6rem 0;
}

.hero__content_description p strong {
  color: #E30517;
  text-transform: uppercase;
}

.hero__content_description h1 {
  margin: 0 0 4.8rem 0;
}

.hero__content_description h1 span {
  color: #E30517;
}

.hero__content_description .button {
  margin: 4.8rem 0 0 0;
}

.hero__content_img {
  position: absolute;
  z-index: 3;
  bottom: -4rem;
  right: 4rem;
  height: 69.5rem;
  width: auto;
}

.hero__content .circle {
  position: absolute;
  z-index: 2;
  right: 3rem;
  bottom: -8rem;
  width: 62.1rem;
  height: 62.1rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.testimonials {
  margin: 15rem 0;
}

.testimonials__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.6rem;
}

.testimonials__list .card {
  margin: 0 1.6rem;
  width: calc((100% - 6.4rem) / 2);
}

.supply {
  margin: 14.4rem 0 13.4rem;
}

.supply.version .supply__content_text {
  margin: 11rem 0 0 -10.8rem;
}

.supply.version .supply__content_text p {
  margin: 8.2rem 0 0 19rem;
}

.supply.version .supply__content_text a {
  margin: 5rem 0 0 19rem;
}

.supply.version .supply__content_img {
  min-height: 69.6rem;
}

.supply.version .supply__content_img img {
  left: -18rem;
  height: 63.2rem;
}

.supply.version .supply__content_img .circle {
  left: -1rem;
  bottom: -11rem;
  width: 62.2rem;
  height: 62.2rem;
}

.supply.mirror .supply__content_img {
  order: 2;
  min-height: 38.4rem;
}

.supply.mirror .supply__content_img .circle {
  left: 50%;
  bottom: -13rem;
  transform: translateX(-50%);
  width: 47.4rem;
  height: 47.4rem;
}

.supply.mirror .supply__content_img img {
  height: 38.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.supply.mirror .supply__content_text {
  order: 1;
  margin: 12.5rem 0 0 0;
}

.supply.mirror .supply__content_text a,
.supply.mirror .supply__content_text p {
  margin: 3.2rem 0 0 0;
}

.supply.mirror .supply__content_text p {
  max-width: 48.5rem;
}

.supply.boy .supply__content_img img {
  height: 62.2rem;
}

.supply.boy .supply__content_img .circle {
  width: 55rem;
  height: 55rem;
  left: -4rem;
  bottom: -14rem;
}

.supply.nature .supply__content_img {
  flex: 0 1 48%;
  min-height: 57.6rem;
}

.supply.nature .supply__content_img img {
  left: 50%;
  bottom: -6rem;
  transform: translateX(-50%);
}

.supply.nature .supply__content_img .circle {
  left: -16rem;
}

.supply.nature .supply__content_text {
  flex: 0 1 52%;
  margin: 7rem 0 0 -7rem;
}

.supply.nature .supply__content_text p {
  max-width: 44.8rem;
}

.supply.green-truck .supply__content_img img {
  width: 100%;
  height: initial;
  transform: translateX(-50%) translateY(5rem);
}

.supply.green-truck .supply__content_img .circle {
  bottom: 7rem;
}

.supply__content {
  display: flex;
}

.supply__content_img {
  position: relative;
  flex: 0 1 51%;
  background-color: #F3F3F3;
  border-radius: 32px;
  overflow: hidden;
  min-height: 51.2rem;
}

.supply__content_img img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 51.2rem;
}

.supply__content_img .circle {
  position: absolute;
  left: -16rem;
  bottom: -16rem;
  width: 45.4rem;
  height: 45.4rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.supply__content_text {
  position: relative;
  z-index: 2;
  flex: 0 1 49%;
  margin: 6.5rem 0 0 -10.8rem;
}

.supply__content_text h2 {
  position: relative;
}

.supply__content_text h2 span {
  color: #E30517;
}

.supply__content_text ul,
.supply__content_text a {
  margin: 7.2rem 0 0 19rem;
}

.supply__content_text blockquote {
  margin: 2.4rem 0 0 19rem;
  border-radius: 8px;
  border: 1px solid #EAECF0;
  padding: 1.6rem;
  display: block;
  font-style: initial;
}

.supply__content_text blockquote p {
  font-size: 1.8rem;
  line-height: 111%;
  margin: 0;
}

.supply__content_text blockquote p:first-of-type {
  margin: 0;
}

.supply__content_text blockquote p:last-of-type {
  margin: 0.8rem 0 0;
}

.supply__content_text blockquote p span {
  font-weight: 700;
}

.supply__content_text p {
  margin: 2.4rem 0 0 19rem;
  max-width: 41.6rem;
  font-size: 2rem;
  line-height: 150%;
}

.supply__content_text p:first-of-type {
  margin: 7.2rem 0 0 19rem;
}

.supply__content_text p span {
  color: #E30517;
}

.supply__content_text p strong {
  font-size: 2.4rem;
  line-height: 111%;
}

.supply__content_text ul {
  max-width: 41.6rem;
}

.supply__content_text ul li {
  display: flex;
  align-items: center;
  margin: 0 0 1.6rem 0;
  font-size: 2rem;
  line-height: 150%;
}

.supply__content_text ul li:last-child {
  margin: 0;
}

.supply__content_text ul li img {
  height: 3.2rem;
  margin: 0 1.6rem 0 0;
}

.truck {
  overflow: hidden;
}

.truck__content {
  position: relative;
  border-radius: 32px;
  background-color: #E6483B;
  min-height: 47.1rem;
  display: flex;
  overflow: hidden;
}

.truck__content_text {
  position: relative;
  z-index: 4;
  max-width: 44.8rem;
  margin: 14.7rem 0 13.7rem 8rem;
  color: #FFFFFF;
}

.truck__content_text p {
  font-size: 2rem;
  line-height: 150%;
  margin: 0 0 1.5rem 0;
}

.truck__content_img {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: 47.1rem;
  width: 76.6rem;
}

.truck__content_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.truck__content_bg {
  position: absolute;
  width: 155rem;
  height: 47.1rem;
  left: 11rem;
  bottom: 0;
}

.truck__content_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.truck__content .circle {
  position: absolute;
  z-index: 2;
  bottom: -7.4rem;
  right: 2.4rem;
  width: 49.8rem;
  height: 49.8rem;
  border-radius: 50%;
  background-color: #E85243;
}

.questions {
  margin: 15.4rem 0;
}

.questions__title {
  text-align: center;
}

.questions__title span {
  color: #E30517;
}

.questions__list {
  max-width: 108.8rem;
  margin: 6.4rem auto 0;
}

.questions__list .submenu-questions {
  border-radius: 3.2rem;
  border: 1px solid #D1D1D1;
  margin: 0 0 2.4rem 0;
  transition: 500ms;
}

.questions__list .submenu-questions.active {
  border: 1px solid #E30517;
}

.questions__list .submenu-questions.active span:before,
.questions__list .submenu-questions.active span:after {
  background-color: #E30517;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.questions__list .submenu-questions > p {
  cursor: pointer;
  color: #0A0A0A;
  position: relative;
  font-size: 2.4rem;
  line-height: 111%;
  font-weight: 600;
  padding: 3.2rem 5.6rem 3.2rem 3.2rem;
}

.questions__list .submenu-questions > p span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3.2rem;
  width: 2.4rem;
  height: 2.4rem;
}

.questions__list .submenu-questions > p span:before,
.questions__list .submenu-questions > p span:after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 0.3rem;
  background: #0A0A0A;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 500ms;
}

.questions__list .submenu-questions > p span:after {
  content: "";
  height: 2.4rem;
  width: 0.3rem;
}

.questions__list .submenu-questions > ul {
  max-height: 0;
  overflow: hidden;
  transition: 500ms;
}

.questions__list .submenu-questions > ul li > p {
  color: #8C8C8C;
  padding: 0 3.2rem 3.2rem 3.2rem;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  max-width: 101rem;
}

.questions__list .submenu-questions > ul li > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 3.2rem 0;
}

.questions__list .submenu-questions > ul li > picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 3.2rem 0;
}

.contact-us {
  overflow: hidden;
}

.contact-us.variant .contact-us__content {
  padding: 14.4rem 3.2rem;
  margin: 0;
}

.contact-us__content {
  position: relative;
  border-radius: 32px;
  padding: 14.4rem 3.2rem 30.6rem;
  background-color: #F3F3F3;
  margin: 0 0 20.4rem 0;
}

.contact-us__content:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -43rem;
  left: -6rem;
  width: 144.8rem;
  height: 147rem;
  background-image: url("../img/contact-us/bg.svg");
  background-repeat: no-repeat;
  background-size: 144.8rem 147rem;
  background-position: center;
}

.contact-us__content_title {
  position: relative;
  z-index: 2;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.contact-us__content_title h2 {
  margin: 0 0 2.4rem 0;
}

.contact-us__content_title h2 span {
  color: #E30517;
}

.contact-us__content_title p {
  font-size: 2rem;
  line-height: 150%;
}

.contact-us__content_title .button {
  margin: 4.8rem 0 0 0;
}

.contact-us__content_img {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 100%;
  max-width: 131.2rem;
  transform: translateX(-50%);
  bottom: -20.4rem;
  height: 40.8rem;
  border-radius: 32px;
  overflow: hidden;
}

.contact-us__content_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.editor {
  margin: 8rem 0;
}

.editor__content {
  max-width: 108.8rem;
  margin: 0 auto;
}

.editor h1 span,
.editor h2 span,
.editor h3 span,
.editor h4 span,
.editor h5 span,
.editor h6 span {
  color: #E30517;
}

.editor h1,
.editor h2,
.editor h3,
.editor h4 {
  margin: 7.4rem 0 6.4rem;
}

.editor h4,
.editor h5,
.editor h6 {
  margin: 3.4rem 0 2.4rem;
}

.editor p {
  margin: 1.6rem 0;
}

.editor p strong {
  font-size: 1.6rem;
}

.editor a {
  color: #E30517;
  text-decoration: underline;
}

.editor ul li {
  font-size: 1.6rem;
  line-height: 150%;
  margin: 0 0 0.4rem 0;
  position: relative;
  padding: 0 0 0 3rem;
}

.editor ul li:last-child {
  margin: 0;
}

.editor ul li:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #E30517;
}

@media (min-width: 568px) {
  .hero__content_description .button,
  .hero__content_description p {
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .header__content_nav ul li a:hover {
    color: #E30517;
  }

  .header__content_cross {
    display: none;
  }

  .footer__content ul li a:hover {
    color: #E30517;
  }

  .button._light:hover {
    color: #FFFFFF;
  }

  .button._light:hover:before {
    bottom: -1px;
  }

  .button._black:hover {
    color: #0A0A0A;
  }

  .button._black:hover:before {
    bottom: calc(100% + 2px);
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1199px) {
  .header {
    top: 0.7rem;
  }

  .header__content {
    padding: 1.9rem 1.6rem;
  }

  .header__content_logo {
    height: 2.6rem;
  }

  .header__content_nav {
    position: fixed;
    top: -100%;
    width: 100vw;
    max-height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    left: 0;
    flex-direction: column;
    padding: 10.4rem 2.4rem 4rem;
    transition: 500ms;
  }

  .header__content_nav ul {
    flex-direction: column;
  }

  .header__content_nav ul li {
    margin: 0 0 1.7rem 0;
  }

  .header__content_nav ul li a {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .header__content .button {
    width: 100%;
  }

  .header__content .button span {
    width: 100%;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  p small {
    font-size: 1.2rem;
  }

  p strong {
    line-height: 133%;
    font-size: 1.6rem;
  }

  html {
    font-size: 2.7777777778vw;
  }

  body {
    background: url("../img/bg.svg") no-repeat top 18.5rem right -8rem;
  }

  .root {
    padding: 0 0 7.2rem 0;
  }

  .container {
    padding: 0 0.8rem;
  }

  .container._large {
    padding: 0 2.4rem;
  }

  .card {
    border-radius: 16px;
    padding: 3.2rem;
  }

  .card__text {
    margin: 0 0 2.6rem 0;
  }

  .card__text p {
    font-size: 2rem;
  }

  .card__person {
    align-items: initial;
  }

  .card__person_img {
    flex: 0 0 4rem;
    height: 4rem;
  }

  .card__person_description p strong,
  .card__person_description p small {
    font-size: 1.4rem;
  }

  .grey-bg {
    margin: 7.8rem 0 8rem;
  }

  .grey-bg:before {
    top: 38rem;
    left: -66rem;
  }

  .grey-bg__content {
    border-radius: 16px;
    padding: 6.4rem 0 7.7rem;
  }

  .grey-bg__content .container._large {
    padding: 0 1.6rem;
  }

  .grey-bg__content .supply__content_img {
    border-radius: 32px;
  }

  .grey-bg__content .supply.nature .supply__content_img {
    border-radius: 16px;
  }

  .grey-bg section {
    margin: 0 0 8rem 0;
  }

  .footer {
    padding: 2.4rem 0;
  }

  .footer__content {
    flex-direction: column;
    justify-content: initial;
  }

  .footer__content_logo {
    padding: 0;
    order: 1;
  }

  .footer__content ul {
    margin: 2.7rem 0 2rem;
    order: 2;
  }

  .footer__content > p {
    font-size: 1.2rem;
    line-height: 150%;
    order: 3;
  }

  .button-large span {
    padding: 1.6rem 4.8rem;
  }

  .hero {
    margin: 0 0 6.6rem 0;
  }

  .hero.center {
    margin: 0 0 4rem;
  }

  .hero.center .hero__content {
    padding: 12rem 1.6rem 10.6rem;
  }

  .hero.center .hero__content p {
    font-size: 1.6rem;
  }

  .hero.center .hero__content p strong {
    font-size: 18rem;
  }

  .hero.center .hero__content h1 {
    font-size: 3.2rem;
  }

  .hero__content {
    padding: 11.8rem 1.6rem 36.3rem;
  }

  .hero__content:before {
    top: 13rem;
    right: -17rem;
  }

  .hero__content_description p {
    margin: 0 0 0.6rem 0;
  }

  .hero__content_description h1 {
    margin: 0 0 3.2rem 0;
  }

  .hero__content_description .button {
    margin: 3.2rem 0 0 0;
    width: 100%;
  }

  .hero__content_description .button span {
    width: 100%;
  }

  .hero__content_img {
    height: 30.1rem;
    bottom: -1rem;
    right: 2rem;
  }

  .hero__content .circle {
    right: 2rem;
    bottom: -3rem;
    width: 26.8rem;
    height: 26.8rem;
  }

  .testimonials {
    margin: 8rem 0 6rem;
  }

  .testimonials__list {
    margin: 0;
    flex-direction: column;
  }

  .testimonials__list .card {
    width: 100%;
    margin: 0 0 2.4rem 0;
  }

  .supply {
    margin: 6rem 0;
  }

  .supply.version .supply {
    margin: 8rem 0;
  }

  .supply.version .supply__content_text {
    margin: 0 0 4.8rem 0;
  }

  .supply.version .supply__content_text p {
    font-size: 1.6rem;
    margin: 2.4rem 0 0 0;
  }

  .supply.version .supply__content_text a {
    margin: 3.2rem 0 0 0;
  }

  .supply.version .supply__content_img {
    min-height: 32.3rem;
  }

  .supply.version .supply__content_img img {
    left: -9rem;
    height: 30rem;
  }

  .supply.version .supply__content .circle {
    width: 28.8rem;
    height: 28.8rem;
    left: 0;
    bottom: -5rem;
  }

  .supply.mirror .supply__content_img {
    min-height: 20.2rem;
  }

  .supply.mirror .supply__content_img img {
    width: 31.2rem;
    height: 20.2rem;
    left: 50%;
  }

  .supply.mirror .supply__content_img .circle {
    width: 24.9rem;
    height: 24.9rem;
    left: 50%;
    bottom: -7rem;
  }

  .supply.nature .supply__content_img {
    min-height: 29.7rem;
  }

  .supply.nature .supply__content_img img {
    bottom: -3rem;
    left: 50%;
  }

  .supply.nature .supply__content_img .circle {
    left: -5rem;
    bottom: -2rem;
  }

  .supply.nature .supply__content_text br {
    display: none;
  }

  .supply.boy .supply__content_img .circle {
    width: 25rem;
    height: 25rem;
    left: -3.5rem;
    bottom: -7rem;
  }

  .supply.boy .supply__content_img img {
    height: 26rem;
  }

  .supply.green-truck .supply__content_img img {
    width: 100%;
    height: 30rem;
  }

  .supply__content {
    flex-direction: column;
  }

  .supply__content_text {
    order: 1;
    margin: 0 0 4.8rem 0;
  }

  .supply__content_text ul,
  .supply__content_text a {
    margin: 2.4rem 0 0 0;
  }

  .supply__content_text ul li {
    font-size: 1.6rem;
    margin: 0 0 0.8rem 0;
  }

  .supply__content_text ul li img {
    height: 2.4rem;
  }

  .supply__content_text .button {
    width: 100%;
  }

  .supply__content_text .button span {
    width: 100%;
  }

  .supply__content_text blockquote {
    margin: 1.6rem 0;
  }

  .supply__content_text blockquote p {
    font-size: 1.4rem;
  }

  .supply__content_text p {
    margin: 2.4rem 0 0 0;
  }

  .supply__content_text p:first-of-type {
    margin: 2.4rem 0 0 0;
  }

  .supply__content_text p strong {
    font-size: 2rem;
  }

  .supply__content_img {
    border-radius: 16px;
    min-height: 23.7rem;
    order: 2;
  }

  .supply__content_img img {
    height: 26rem;
  }

  .supply__content_img .circle {
    left: -8rem;
    bottom: -8rem;
    width: 21rem;
    height: 21rem;
  }

  .truck {
    margin: 8rem 0;
  }

  .truck__content {
    border-radius: 16px;
    min-height: 42.7rem;
  }

  .truck__content_img {
    width: 34rem;
    height: 20.9rem;
  }

  .truck__content_bg {
    display: none;
  }

  .truck__content_text {
    margin: 6.4rem 1.6rem 24.3rem;
  }

  .truck__content_text p {
    font-size: 1.6rem;
    margin: 0 0 0.5rem 0;
  }

  .truck__content .circle {
    width: 21.7rem;
    height: 21.7rem;
    right: 0.4rem;
  }

  .questions {
    margin: 8rem 0;
  }

  .questions__list {
    margin: 4.8rem auto 0;
  }

  .questions__list .submenu-questions {
    border-radius: 1.6rem;
  }

  .questions__list .submenu-questions > p {
    padding: 2.3rem 6rem 2.3rem 2.4rem;
    font-size: 2rem;
    line-height: 111%;
  }

  .questions__list .submenu-questions > p span {
    right: 2.4rem;
    width: 1.6rem;
    height: 1.6rem;
  }

  .questions__list .submenu-questions > p span:before,
  .questions__list .submenu-questions > p span:after {
    width: 1.6rem;
    height: 0.2rem;
  }

  .questions__list .submenu-questions > p span:after {
    content: "";
    height: 1.6rem;
    width: 0.2rem;
  }

  .questions__list .submenu-questions ul li p {
    font-size: 1.4rem;
    line-height: 150%;
    padding: 0 2.4rem 2.4rem 2.4rem;
  }

  .contact-us__content {
    padding: 6.4rem 1.6rem 16.8rem;
    margin: 0 0 10.4rem 0;
    border-radius: 1.6rem;
  }

  .contact-us__content:before {
    top: -55rem;
    left: -73rem;
  }

  .contact-us__content_title h2 br {
    display: none;
  }

  .contact-us__content_title p {
    font-size: 1.4rem;
    line-height: 150%;
  }

  .contact-us__content_title .button {
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .contact-us__content_title .button span {
    width: 100%;
  }

  .contact-us__content_img {
    border-radius: 16px;
    max-width: 31.2rem;
    height: 20.8rem;
    bottom: -10.4rem;
  }

  .editor {
    margin: 4rem 0;
  }

  .editor p strong {
    font-size: 1.4rem;
  }

  .editor ul li {
    font-size: 1.4rem;
  }

  .editor ul li:before {
    top: 0.5rem;
  }
}