* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 32rem;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "NotoSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "NotoSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-size: 5.6rem;
  line-height: 110%;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 111%;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 133%;
}

h6 {
  font-size: 1.8rem;
  line-height: 111%;
  font-weight: 700;
}

p,
.head-link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

p small,
.head-link small {
  font-size: 1.4rem;
}

p strong,
.head-link strong {
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-SemiBold.woff") format("woff"), url("../fonts/NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 0.6944444444vw;
}

.root {
  padding: 0 0 15rem 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 10;
  top: 2.4rem;
  left: 0;
  width: 100%;
}

.header.active .header__content_nav {
  top: 0;
}

.header.active .header__content_cross span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

.header.active .header__content_cross span:nth-child(2) {
  left: -10px;
  opacity: 0;
}

.header.active .header__content_cross span:nth-child(3) {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(-45deg);
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.8rem 4rem;
}

.header__content_logo {
  position: relative;
  z-index: 2;
  height: 3.2rem;
  width: auto;
}

.header__content_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_nav {
  display: flex;
  align-items: center;
}

.header__content_nav .head-link {
  margin: 0 5.6rem 0 0;
}

.header__content_cross {
  position: relative;
  z-index: 2;
  padding: 0.8rem 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

.header__content_cross span {
  position: absolute;
  width: 2.4rem;
  height: 0.2rem;
  background-color: #0A0A0A;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  transition: 500ms;
}

.header__content_cross span:first-child {
  top: 0.8rem;
}

.header__content_cross span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.header__content_cross span:last-child {
  top: initial;
  bottom: 0.8rem;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content_logo {
  height: 3.2rem;
  padding: 0 9rem 0 0;
}

.footer__content > p,
.footer__content > .head-link {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
}

.footer__content nav a {
  font-size: 1.6rem;
  height: 150%;
  margin: 0 5.4rem 0 0;
}

.footer__content nav a:last-child {
  margin: 0;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
  line-height: 140%;
  font-weight: 700;
  border-radius: 20px;
  transition: 200ms;
}

.button span {
  position: relative;
  border: 1px solid #0A0A0A;
  padding: 1.3rem 2.3rem;
  border-radius: 20px;
}

.button:before {
  content: "";
  position: absolute;
  bottom: calc(-100% - 2px);
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  transition: 200ms cubic-bezier(0.7, 0, 0.2, 1);
  border-radius: 19px;
}

.button-large span {
  padding: 1.3rem 4.8rem;
}

.button._light {
  color: #0A0A0A;
}

.button._light:before {
  background-color: #0A0A0A;
}

.button._black {
  color: #FFFFFF;
}

.button._black:before {
  background-color: #0A0A0A;
  bottom: -1px;
}

.hero {
  min-height: 7.04rem;
  margin: 3.2rem 0 14.4rem 0;
}

.hero__content {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 19.2rem 8rem 15.9rem;
  background-color: #F3F3F3;
  border-radius: 32px;
}

.hero__content:before {
  content: "";
  position: absolute;
  width: 115.6rem;
  height: 150rem;
  top: -5rem;
  right: -13rem;
  background-image: url("../img/hero/white-bg-hero.svg");
  background-size: 115.6rem 150rem;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__content_description {
  position: relative;
  z-index: 2;
  width: 50%;
}

.hero__content_description p,
.hero__content_description .head-link {
  color: #E30517;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0;
}

.hero__content_description h1 {
  margin: 0 0 4.8rem 0;
}

.hero__content_description h1 span {
  color: #E30517;
}

.hero__content_img {
  width: 50%;
}

.hero__content_img img {
  position: absolute;
  z-index: 3;
  bottom: -4rem;
  right: 4rem;
  height: 69.5rem;
  width: auto;
}

.hero__content_img .circle {
  position: absolute;
  z-index: 2;
  right: 3rem;
  bottom: -8rem;
  width: 62.1rem;
  height: 62.1rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

@media (min-width: 1024px) {
  .head-link:hover {
    color: #E30517;
  }

  .header__content_cross {
    display: none;
  }

  .footer__content nav a:hover {
    color: #E30517;
  }

  .button._light:hover {
    color: #FFFFFF;
  }

  .button._light:hover:before {
    bottom: -1px;
  }

  .button._black:hover {
    color: #0A0A0A;
  }

  .button._black:hover:before {
    bottom: calc(100% + 2px);
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1023px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  p,
  .head-link {
    font-size: 1.4rem;
  }

  p small,
  .head-link small {
    font-size: 1.2rem;
  }

  p strong,
  .head-link strong {
    line-height: 133%;
    font-size: 1.6rem;
  }

  html {
    font-size: 10px;
  }

  .root {
    padding: 0 0 7.2rem 0;
  }

  .container {
    padding: 0 0.8rem;
  }

  .header {
    top: 0.7rem;
  }

  .header__content {
    padding: 1.9rem 1.6rem;
  }

  .header__content_logo {
    height: 2.6rem;
  }

  .header__content_nav {
    position: fixed;
    top: -100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    left: 0;
    padding: 10.4rem 2.4rem 4rem;
    transition: 500ms;
  }

  .header__content .head-link {
    margin: 0 0 1.7rem 0;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .header__content .button {
    width: 100%;
  }

  .header__content .button span {
    width: 100%;
  }

  .footer__content {
    flex-direction: column;
    justify-content: initial;
  }

  .footer__content_logo {
    padding: 0;
    order: 1;
  }

  .footer__content nav {
    margin: 2.7rem 0 2rem;
    order: 2;
  }

  .footer__content > p,
  .footer__content > .head-link {
    font-size: 1.2rem;
    line-height: 150%;
    order: 3;
  }
}