@layer base {
  html {
    font-family: $fontfamily;
    font-size: calc(100vw / 1440 * 10);
    //@apply lg:text-base
  }
}

.wrapper {
  @apply overflow-hidden min-h-full
}

.head-link {
  @extend p;
  @media (min-width: $desktop) {
    &:hover {
      color: $col-red-prim;
    }
  }
}


