html {
  font-size: calc(100vw / 1440 * 10);
  @media (max-width: $mob) {
    font-size: 10px;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.head-link {
  @extend p;
  @media (min-width: $desktop) {
    &:hover {
      color: $col-red-prim;
    }
  }
}


