html {
  font-size: calc(100vw / 1440 * 10);
  @media (max-width: $mob) {
    font-size: 10px;
  }
  @media (min-width: $desktop-xl) {
    font-size: 10px;
  }
}

.root {
  padding: 0 0 15rem 0;
  @media (max-width: $mob) {
    padding: 0 0 7.2rem 0;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 32px;
  margin: 0 auto;
  @media (max-width: $mob) {
    padding: 0 8px;
  }
}

.head-link {
  @extend p;
  @media (min-width: $desktop) {
    &:hover {
      color: $col-red-prim;
    }
  }
}


