//========colors:
//red:
$col-red-prim: #E30517;
$col-red-sec: #E6483B;
$col-red: #E85243;
//black:
$col-black: #0A0A0A;
//gray:
$col-gray-800: #8C8C8C;
$col-gray-700: #D1D1D1;
$col-gray-600: #DDDDDD;
$col-gray-500: #E8E8E8;
$col-gray-400: #F3F3F3;
$col-gray-300: #F9F9F9;
//white:
$col-white: #FFFFFF;
//base_font:
$fontfamily: "NotoSans", sans-serif;












